/* Global Layout Set-up */
.main-nav {
  width: 98%;

  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;

}
.nav a {
  transition: all .5s;
  color: white;
}
.nav a:hover {
  color: red

}

.flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  .card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #EEEEEE;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;
  }

header {
  text-align: center;
  background: url('images/arcade.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 500px;
  height: 350px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}
.tag {

  color: white;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
